/* pierwsza część stopki */
.Foot1 {
    display: inline-block;
    margin-right: 20px;
    color: #063206;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*linki w  pierwszej części stopki */
.Foot1 a
{
    color: #095d0c;
}